@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "M PLUS 1", sans-serif;
}
/********************/
/**   NAVIGATION   **/
/********************/
#nav {
  height: 6vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}
/* Impact Report */
.impact_report {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 6vh;
  font-size: 0.9rem;
}
.impact_report.active {
  filter: blur(2px);
}
.impact_report a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  position: relative;
}
.impact_report a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  bottom: -3px;
  left: 0;
}
/* Nav content */
.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  top: 6vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.nav_content.fade {
  opacity: 1;
}
.nav_content.active {
  filter: blur(2px);
}
.nav_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.skip {
  /* Hidden link for screen readers */
  position: absolute;
  top: 110%;
  left: 0%;
  font-size: 0.8rem;
  white-space: nowrap;
  color: grey;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
}
.skip:focus {
  opacity: 1;
  pointer-events: all;
  outline: 2px solid grey;
  outline-offset: 5px;
  border-radius: 10px;
}
.logo_tesla {
  height: 15px;
}
.logo_tesla_a:focus {
  outline: 2px solid grey;
  outline-offset: 5px;
  border-radius: 10px;
}
.btn_menu {
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: none;
  background: rgba(194, 193, 193, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.btn_menu:focus {
  outline: 2px solid grey;
  outline-offset: 2px;
}
.btn_close {
  align-self: end;
  padding: 0.7rem;
  margin: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  height: 35px;
}
.btn_close--img {
  height: 15px;
}
.btn_close:hover {
  background-color: rgb(212, 212, 212);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.nav_links--mobile {
  position: absolute;
  height: 100vh;
  width: 240px;
  background-color: white;
  right: 0;
  top: 0px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.nav_links--mobile.active {
  transform: translateX(0);
}
.nav_link {
  list-style: none;
  font-weight: 400;
  margin: 0 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
}
.nav_link:hover {
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.right_links {
  display: none;
}
.nav_links--desktop {
  display: none;
}

/********************/
/**      MAIN      **/
/********************/
#main_content {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
#main_content.active {
  filter: blur(2px);
}
.section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
}
.section_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section_title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.section_title--big {
  font-size: 2.3rem;
}
.section_title--medium {
  font-size: 1.8rem;
}
.section_title--model_3 {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out 1s;
}
.section_p {
  width: 80%;
  font-size: 0.9rem;
}
.section_p--model-3 {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out 1.5s;
}
.text_underline {
  border-bottom: 1px solid black;
}
.section_btns {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 5rem;
  width: 90%;
  flex: 1;
}
.section_btns--model-3 {
  margin-bottom: 8rem;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out 1.5s;
}
.section_btn {
  border-radius: 20px;
  padding: 0.9rem 0;
  margin-top: 1rem;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.section_btn--dark {
  background-color: #191919;
  color: #f2f2f2;
}
.section_btn--light {
  background-color: #e0e1e4;
}
.arrow_down {
  height: 17px;
  position: absolute;
  bottom: 90px;
  animation: bouncing 1s infinite;
}

/** Text animations **/
.section_title--model_3.fade {
  opacity: 1;
  transform: translateY(0);
}
.section_p.fade,
.section_btns.fade {
  opacity: 1;
  transform: translateY(0);
}
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
@keyframes bouncing {
  /* Down arrow animation */
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
/********************/
/**    SECTIONS    **/
/********************/

/* Model 3 */
.model_3 {
  background-image: url("images/model-3.jpg");
}
/* Model Y */
.model_y {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70");
}
/* Model S */
.model_s {
  background-image: url(images/model-s.jpg);
}
/* Model X */
.model_x {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ddc135ed-1638-40fb-8ab1-f8045059ecef/bvlatuR/std/4096x2560/Homepage-Model-X-Desktop-LHD");
}
/* Solar Panels */
.solar_panels {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D");
}
/* Solar Roof */
.solar_roof {
  background-image: url(images/solar-roof.jpg);
}
.section_p--solar-roof {
  width: 60%;
}
/* Accessories */
.accessories {
  background-image: url(images/accessories-1.jpg);
}

@media screen and (min-width: 300px) {
  .section_p {
    width: 100%;
  }
}
@media screen and (min-width: 375px) {
  .nav_links--mobile {
    width: 300px;
  }
  /* iPhone X */
  @media screen and (min-height: 812px) {
    .section {
      padding-top: 10rem;
    }
  }
}
@media screen and (min-width: 540px) {
  .section {
    padding-top: 8.5rem;
  }
  .model_3 {
    background-image: url("images/model-3-desktop.jpg");
  }
}
@media screen and (min-width: 768px) {
  #nav {
    padding: 0 1.5rem;
    height: 4vh;
  }
  .impact_report {
    height: 4vh;
  }
  .nav_content {
    top: 4vh;
  }
  .section {
    padding-top: 12rem;
  }
  .section_title--big {
    font-size: 2.8rem;
  }
  .section_title--medium {
    font-size: 2.5rem;
  }
  .section_btns {
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-bottom: 7rem;
    flex: 2;
  }
  .section_btn {
    width: 300px;
  }
  .section_btn--dark {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  @media screen and (min-height: 1366px) {
    .section {
      padding-top: 15rem;
    }
  }
}
@media screen and (min-width: 1200px) {
  .nav_content {
    top: 6vh;
  }
  .nav_links {
    flex-direction: row;
    position: static;
    transform: translateX(0);
    height: auto;
    width: auto;
    background-color: transparent;
    overflow: auto;
  }
  .nav_links--desktop {
    display: flex;
  }
  .nav_link {
    margin: 0;
  }
  .nav_links--mobile {
    display: none;
  }
  .btn_menu {
    display: none;
  }
  .right_links {
    display: flex;
  }
}
