@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

@font-face {
  font-family: "GothamLight";
  src: url(fonts/GothamLight.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "GothamMedium";
  src: url(fonts/GothamMedium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "GothamBold";
  src: url(fonts/GothamBold.ttf);
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "GothamMedium", sans-serif;
}
/********************/
/**   NAVIGATION   **/
/********************/
#nav {
  height: 8vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  outline: 2px solid white;
  padding: 0 1rem;
}
/* Impact Report */
.impact_report {
  font-family: "GothamLight", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 8vh;
}
.impact_report a {
  color: rgb(26, 26, 26);
}
/* Nav content */
.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  top: 10vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.nav_content.fade {
  opacity: 1;
}
.nav_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.skip {
  /* Hidden link for screen readers */
  position: absolute;
  top: 110%;
  left: 0%;
  font-size: 0.8rem;
  white-space: nowrap;
  color: grey;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
}
.skip:focus {
  opacity: 1;
  pointer-events: all;
  outline: 2px solid grey;
  outline-offset: 5px;
  border-radius: 10px;
}
.logo_tesla {
  height: 15px;
}
.logo_tesla_a:focus {
  outline: 2px solid grey;
  outline-offset: 5px;
  border-radius: 10px;
}
.btn_menu {
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: none;
  background: rgba(194, 193, 193, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.btn_menu:focus {
  outline: 2px solid grey;
  outline-offset: 2px;
}
/********************/
/**      MAIN      **/
/********************/
#main_content {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
}
.section_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 8.5rem;
}
.section_title {
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.section_title--big {
  font-size: 2.3rem;
}
.section_title--medium {
  font-size: 1.8rem;
}
.section_title--model_3 {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out 1s;
}
.section_p {
  font-family: "GothamLight", sans-serif;
  width: 80%;
  font-size: 0.9rem;
}
.section_p--model-3 {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out 1.5s;
}
.text_underline {
  border-bottom: 1px solid black;
}
.section_btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  flex: 1;
}
.section_btns--model-3 {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out 1.5s;
}
.section_btn {
  border-radius: 20px;
  padding: 0.9rem 0;
  margin-top: 1rem;
  border: none;
  font-family: inherit;
}
.section_btn--dark {
  background-color: rgb(36, 36, 36);
  color: #f2f2f2;
}
.section_btn--light {
  background-color: #f2f2f2;
}
.arrow_down {
  height: 17px;
  position: absolute;
  bottom: 20px;
  animation: bouncing 1s infinite;
}

/** Text animations **/
.section_title--model_3.fade {
  opacity: 1;
  transform: translateY(0);
}
.section_p.fade,
.section_btns.fade {
  opacity: 1;
  transform: translateY(0);
}
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
@keyframes bouncing {
  /* Down arrow animation */
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
/********************/
/**    SECTIONS    **/
/********************/

/* Model 3 */
.model_3 {
  background-image: url(images/model-3.jpg);
}
/* Model Y */
.model_y {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70");
}
/* Model S */
.model_s {
  background-image: url(images/model-s.jpg);
}
/* Model X */
.model_x {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ddc135ed-1638-40fb-8ab1-f8045059ecef/bvlatuR/std/4096x2560/Homepage-Model-X-Desktop-LHD");
}
/* Solar Panels */
.solar_panels {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D");
}
/* Solar Roof */
.solar_roof {
  background-image: url(images/solar-roof.jpg);
}
.solar_roof-text {
  width: 60%;
}
/* Accessories */
.accessories {
  background-image: url(images/accessories.jpg);
}

@media screen and (min-width: 300px) {
  .section_p {
    width: 100%;
  }
}
